<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ommiao.mowidgets">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="q">

        <receiver
            android:name=".widgets.HydrogenClockWidget"
            android:label="@string/label_hydrogen_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_clock_hydrogen" />
        </receiver>

        <receiver
            android:name=".widgets.GoogleNowWidget"
            android:label="@string/label_google_now">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>

        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget_info_google_now" />
        </receiver>

        <receiver
            android:name=".widgets.GoogleWordWidget"
            android:label="@string/label_google_word">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_google_word" />
        </receiver>

        <receiver
            android:name=".widgets.ColorosClockWidget"
            android:label="@string/label_coloros_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_coloros_clock" />
        </receiver>

        <receiver
            android:name=".widgets.PocoClockWidget"
            android:label="@string/label_poco_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_poco_clock" />
        </receiver>

        <receiver
            android:name=".widgets.ThreeLinesWordWidget"
            android:label="@string/label_three_lines_word">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_three_lines_word" />
        </receiver>

        <receiver
            android:name=".widgets.IUNIDateWidget"
            android:label="@string/label_iuni_date">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_iuni_date" />
        </receiver>

        <receiver
            android:name=".widgets.QTextClockWidget"
            android:label="@string/label_q_text_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_q_text_clock" />
        </receiver>

        <receiver
            android:name=".widgets.PixelDateWeatherWidget"
            android:label="@string/label_pixel_date_weather">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_pixel_date_weather" />
        </receiver>

        <receiver
            android:name=".widgets.PaperNotesWidget"
            android:label="@string/label_paper_notes">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_paper_notes" />
        </receiver>

        <receiver
            android:name=".widgets.ArtSentenceWidget"
            android:label="@string/label_art_sentence">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_art_sentence" />
        </receiver>

        <receiver
            android:name=".widgets.JapaneseClockWidget"
            android:label="@string/label_japanese_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_japanese_clock" />
        </receiver>

        <receiver
            android:name=".widgets.BigDrumClockWidget"
            android:label="@string/label_big_drum_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_big_drum_clock" />
        </receiver>

        <receiver
            android:name=".widgets.picture.DogPictureWidget"
            android:label="@string/label_dog_picture">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_dog_picture" />
        </receiver>

        <receiver
            android:name=".widgets.picture.DrinkPictureWidget"
            android:label="@string/label_drink_picture">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_drink_picture" />
        </receiver>

        <receiver
            android:name=".widgets.picture.BookPictureWidget"
            android:label="@string/label_book_picture">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_book_picture" />
        </receiver>

        <receiver
            android:name=".widgets.picture.CustomPictureWidget"
            android:label="@string/label_custom_picture">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_custom_picture" />
        </receiver>

        <activity
            android:name=".configs.GoogleWordConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.ColorosClockConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.ThreeLinesWordConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.GoogleNowConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.QTextClockConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.PixelDateWeatherConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.PaperNotesConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.ArtSentenceConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.IUNIDateConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.JapaneseClockConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.BigDrumClockConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.CustomPictureActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.WeatherForecastConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".configs.BlackWeatherCardConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity
            android:name=".RefreshActivity"
            android:theme="@android:style/Theme.NoDisplay"/>

        <activity
            android:name=".configs.MonthCalendarConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity android:name=".configs.HydrogenClockConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity android:name=".configs.PocoClockConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <activity android:name=".configs.MiuiAodConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"/>

        <service
            android:name=".TimeService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label_time_service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_info_time_service" />

        </service>

        <service
            android:name=".widgets.list.WeatherForecastService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service
            android:name=".widgets.list.MonthCalendarService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:name=".widgets.list.WeatherForecastWidget"
            android:label="@string/label_weather_forecast">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_weather_forecast" />
        </receiver>

        <receiver
            android:name=".widgets.BlackCardWeatherWidget"
            android:label="@string/label_black_card_weather">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_black_card_weather" />
        </receiver>

        <receiver
            android:name=".widgets.list.MonthCalendarWidget"
            android:label="@string/label_month_calendar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_month_calendar" />
        </receiver>

        <receiver
            android:name=".widgets.pointerclock.MiuiAodWidget"
            android:label="@string/label_miui_aod">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_miui_aod" />
        </receiver>

    </application>
</manifest>
