<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ommiao.mowidgets">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name=".widgets.HydrogenClockWidget"
            android:label="@string/label_hydrogen_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_clock_hydrogen" />
        </receiver>

        <receiver
            android:name=".widgets.NeverSettleWidget"
            android:label="@string/label_never_settle">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_never_settle" />
        </receiver>

        <receiver
            android:name=".widgets.GoogleNowWidget"
            android:label="@string/label_google_now">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>

        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget_info_google_now" />
        </receiver>

        <receiver
            android:name=".widgets.GoogleWordWidget"
            android:label="@string/label_google_word">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_google_word" />
        </receiver>

        <receiver
            android:name=".widgets.ColorosClockWidget"
            android:label="@string/label_coloros_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_coloros_clock" />
        </receiver>

        <receiver
            android:name=".widgets.PocoClockWidget"
            android:label="@string/label_poco_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_poco_clock" />
        </receiver>

        <receiver
            android:name=".widgets.ThreeLinesWordWidget"
            android:label="@string/label_three_lines_word">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_three_lines_word" />
        </receiver>

        <receiver
            android:name=".widgets.IUNIDateWidget"
            android:label="@string/label_iuni_date">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_iuni_date" />
        </receiver>

        <activity
            android:name=".configs.GoogleWordConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".configs.ColorosClockConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".configs.ThreeLinesWordConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".configs.GoogleNowConfigActivity"
            android:theme="@style/FakeDialog"
            android:exported="true"
            android:screenOrientation="portrait"/>

    </application>
</manifest>
